<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Care</title>
    <link rel="stylesheet" href="../public/healthy.css">
</head>
<body>
    <header>
            <img src="../Image/Healthy Care Logo1.png" alt="Logo" width="110px"/>
        <h1 id="title">Healthy Care</h1>
    </header>
    <div class="bg">
    <div class="marquee-container">
        <marquee behavior="scroll" direction="left" id="health-tips">Tips will rotate every 12 hours...</marquee>
    </div><br>

    <div class="dashboard">
        <div class="card feature-card">
            <img src="../Image/Image Check.png" id="img" alt="Health Check" />
            <h2>Health Check</h2>
            <p>Mengukur BMI Anda dan mengecek status kesehatan Anda</p>
            <button type="button" onclick="window.location.href = 'check.html'">Go to Health Check</button>
        </div>
        <div class="card feature-card">
            <img src="../Image/Image Schedule.png" id="img" alt="Schedule" />
            <h2>Schedule</h2>
            <p>Atur kebiasaan aktivitas yang sehat</p>
            <button type="button" onclick="window.location.href = 'schedule.html'">Go to Schedule</button>
        </div>
        <div class="card feature-card">
            <img src="../Image/Image Food.png" id="img" alt="Food Recommendation" />
            <h2>Food Recommendation</h2>
            <p>Dapatkan rekomendasi makanan sesuai dengan waktunya</p>
            <button type="button" onclick="window.location.href = 'recomend.html'">Go to Recommendations</button>
        </div>
        <div class="card feature-card">
            <img src="../Image/Image Asthma.png" id="img" alt="Asthma Test" />
            <h2>Asthma Test</h2>
            <p>Lakukan tes paru-paru yang dapat berpotensi asma</p>
            <button type="button" onclick="window.location.href = 'asthma.html'">Go to Asthma Test</button>
        </div>
    </div>

    <script src="../js/healthy.js"></script>
    </div>
    <footer id="footer">
        <div class="footer-container">
            <div class="footer-section social">
                <h3>Follow Us</h3>
                </a>
                <a href="https://www.instagram.com/fhbilek?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Faza Hafyyan
                </a>
                <a href="https://www.instagram.com/satriadika2021?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Satria Dika
                </a>
                <a href="https://www.instagram.com/syahrul_razq11?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Syahrul Razzaaq
                </a>
            </div>
    
            <div class="footer-section sponsors">
                <h3>Sponsored By</h3>
                <a href="https://gofood.link/a/L5oj687" target="_blank">
                    Warung Gombong Sehati      
                </a>
            </div>
            <div class="footer-section credit">
                <p>Created By <a href="https://www.instagram.com/sija.healthycare/" target="_blank">HealthyCareSija</a></p>
                <p> | &copy; 2024. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    
</body>
</html>
